{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Wow! You're a hotshot. Post an entry to your Learning Journal: </h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}<br>
                    {{ render_field(field) }}
                    {% endfor %}
                    <button type="submit" id="submit">Publish Entry!</button>
                    <a href="{{ url_for('index')}}" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
